In [1]:
import pandas as pd

# display all dataframe columns in df.head()
pd.options.display.max_columns = None
# display long string in datafame
pd.options.display.max_colwidth = 300

In [2]:
data_dict = pd.read_csv("data/data_dictionary.csv")
data_dict

,ColumnName,Description
0,acc_now_delinq,The number of accounts on which the borrower is now delinquent.
1,addr_state,The state provided by the borrower in the loan application
2,annual_inc,The self-reported annual income provided by the borrower during registration.
3,application_type,Indicates whether the loan is an individual application or a joint application with two co-borrowers
4,chargeoff_within_12_mths,Number of charge-offs within 12 months
5,collection_recovery_fee,post charge off collection fee
6,collections_12_mths_ex_med,Number of collections in 12 months excluding medical collections
7,debt_settlement_flag,"Flags whether or not the borrower, who has charged-off, is working with a debt-settlement company."
8,debt_settlement_flag_date,The most recent date that the Debt_Settlement_Flag has been set
9,delinq_2yrs,The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years
10,delinq_amnt,The past-due amount owed for the accounts on which the borrower is now delinquent.
11,disbursement_method,"The method by which the borrower receives their loan. Possible values are: CASH, DIRECT_PAY"
12,dti,"A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrower’s self-reported monthly income."
13,earliest_cr_line,The month the borrower's earliest reported credit line was opened
14,emp_length,Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.
15,emp_title,The job title supplied by the Borrower when applying for the loan.*
16,funded_amnt,The total amount committed to that loan at that point in time.
17,funded_amnt_inv,The total amount committed by investors for that loan at that point in time.
18,grade,LC assigned loan grade
19,hardship_flag,Flags whether or not the borrower is on a hardship plan
20,home_ownership,"The home ownership status provided by the borrower during registration or obtained from the credit report. Our values are: RENT, OWN, MORTGAGE, OTHER"
21,initial_list_status,"The initial listing status of the loan. Possible values are – W, F"
22,inq_last_6mths,The number of inquiries in past 6 months (excluding auto and mortgage inquiries)
23,installment,The monthly payment owed by the borrower if the loan originates.
24,int_rate,Interest Rate on the loan
25,issue_d,The month which the loan was funded
26,last_credit_pull_d,The most recent month LC pulled credit for this loan
27,last_pymnt_amnt,Last total payment amount received
28,last_pymnt_d,Last month payment was received
29,loan_amnt,"The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value."
30,loan_status,Current status of the loan
31,mths_since_last_delinq,The number of months since the borrower's last delinquency.
32,mths_since_last_major_derog,Months since most recent 90-day or worse rating
33,mths_since_last_record,The number of months since the last public record.
34,next_pymnt_d,Next scheduled payment date
35,open_acc,The number of open credit lines in the borrower's credit file.
36,out_prncp,Remaining outstanding principal for total amount funded
37,out_prncp_inv,Remaining outstanding principal for portion of total amount funded by investors
38,policy_code,publicly available policy_code=1\nnew products not publicly available policy_code=2
39,pub_rec,Number of derogatory public records
40,pub_rec_bankruptcies,Number of public record bankruptcies
41,purpose,A category provided by the borrower for the loan request.
42,pymnt_plan,Indicates if a payment plan has been put in place for the loan
43,recoveries,post charge off gross recovery
44,revol_bal,Total credit revolving balance
45,revol_util,"Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit."
46,sub_grade,LC assigned loan subgrade
47,tax_liens,Number of tax liens
48,term,The number of payments on the loan. Values are in months and can be either 36 or 60.
49,title,The loan title provided by the borrower
50,total_acc,The total number of credit lines currently in the borrower's credit file
51,total_pymnt,Payments received to date for total amount funded
52,total_pymnt_inv,Payments received to date for portion of total amount funded by investors
53,total_rec_int,Interest received to date
54,total_rec_late_fee,Late fees received to date
55,total_rec_prncp,Principal received to date
56,verification_status,"Indicates if income was verified by LC, not verified, or if the income source was verified"
57,zip_code,The first 3 numbers of the zip code provided by the borrower in the loan application.

In [3]:
loan_df = pd.read_csv("data/lending_club_2007_2011_6_states.csv")
loan_df.sample(5)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,hardship_flag,disbursement_method,debt_settlement_flag,debt_settlement_flag_date
12560,5000,5000,5000.000000,36 months,14.35,171.74,C,C4,24 hr fitness,< 1 year,RENT,16800.0,Source Verified,Sep-2010,Fully Paid,n,debt_consolidation,Caitlyn,921xx,CA,7.86,0.0,Aug-2003,1.0,NaN,NaN,3.0,0.0,3562,93.7,10.0,f,0.0,0.0,5245.010349,5245.01,5000.00,245.01,0.000000,0.00,0.0000,Jun-2011,42.89,NaN,Jun-2011,0.0,NaN,1,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N,NaN
9367,10000,10000,10000.000000,36 months,13.06,337.23,C,C2,CitationAir,7 years,RENT,50911.0,Not Verified,Mar-2011,Fully Paid,n,debt_consolidation,Free at Last!,106xx,NY,19.59,0.0,Apr-1997,0.0,36.0,NaN,11.0,0.0,6233,97.4,14.0,f,0.0,0.0,12140.218268,12140.22,10000.00,2140.22,0.000000,0.00,0.0000,Mar-2014,354.37,NaN,Mar-2014,0.0,NaN,1,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N,NaN
13747,9800,9800,9475.000000,36 months,7.88,306.56,A,A5,Lee County Sheriff's Office,10+ years,MORTGAGE,55000.0,Verified,Jul-2010,Fully Paid,n,debt_consolidation,Freedom,339xx,FL,24.17,0.0,Sep-1992,1.0,71.0,NaN,12.0,0.0,22725,46.8,32.0,f,0.0,0.0,11049.110326,10682.69,9800.00,1249.11,0.000000,0.00,0.0000,Jan-2014,303.02,NaN,Feb-2019,0.0,NaN,1,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N,NaN
13427,25000,20950,20300.582222,60 months,11.86,464.55,B,B5,Mountain Mortgage Corp.,6 years,RENT,30500.0,Verified,Aug-2010,Charged Off,n,small_business,Alfredo's Loan,072xx,NJ,7.83,0.0,Sep-1996,0.0,NaN,NaN,12.0,0.0,11606,15.5,34.0,f,0.0,0.0,16432.240000,15425.69,10305.16,5488.16,0.000000,638.92,6.3754,Jul-2013,61.20,NaN,Oct-2016,0.0,NaN,1,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N,NaN
2966,10000,10000,10000.000000,36 months,16.29,353.01,D,D1,Franciscan St. James Hospital,10+ years,MORTGAGE,68000.0,Not Verified,Oct-2011,Fully Paid,n,credit_card,My credit card payoffs,604xx,IL,7.61,1.0,Apr-1976,0.0,8.0,NaN,13.0,0.0,8717,32.0,24.0,f,0.0,0.0,12708.374893,12708.37,10000.00,2708.07,0.302037,0.00,0.0000,Nov-2014,4.46,NaN,Feb-2019,0.0,NaN,1,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N,NaN

In [4]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19908 entries, 0 to 19907
Data columns (total 58 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   loan_amnt                    19908 non-null  int64
 1   funded_amnt                  19908 non-null  int64
 2   funded_amnt_inv              19908 non-null  float64
 3   term                         19908 non-null  object
 4   int_rate                     19908 non-null  float64
 5   installment                  19908 non-null  float64
 6   grade                        19908 non-null  object
 7   sub_grade                    19908 non-null  object
 8   emp_title                    18723 non-null  object
 9   emp_length                   19409 non-null  object
 10  home_ownership               19908 non-null  object
 11  annual_inc                   19908 non-null  float64
 12  verification_status          19908 non-null  object
 13  issue_d                      19908 non-null  object
 14  loan_status                  19908 non-null  object
 15  pymnt_plan                   19908 non-null  object
 16  purpose                      19908 non-null  object
 17  title                        19903 non-null  object
 18  zip_code                     19908 non-null  object
 19  addr_state                   19908 non-null  object
 20  dti                          19908 non-null  float64
 21  delinq_2yrs                  19908 non-null  float64
 22  earliest_cr_line             19908 non-null  object
 23  inq_last_6mths               19908 non-null  float64
 24  mths_since_last_delinq       6998 non-null   float64
 25  mths_since_last_record       1209 non-null   float64
 26  open_acc                     19908 non-null  float64
 27  pub_rec                      19908 non-null  float64
 28  revol_bal                    19908 non-null  int64
 29  revol_util                   19889 non-null  float64
 30  total_acc                    19908 non-null  float64
 31  initial_list_status          19908 non-null  object
 32  out_prncp                    19908 non-null  float64
 33  out_prncp_inv                19908 non-null  float64
 34  total_pymnt                  19908 non-null  float64
 35  total_pymnt_inv              19908 non-null  float64
 36  total_rec_prncp              19908 non-null  float64
 37  total_rec_int                19908 non-null  float64
 38  total_rec_late_fee           19908 non-null  float64
 39  recoveries                   19908 non-null  float64
 40  collection_recovery_fee      19908 non-null  float64
 41  last_pymnt_d                 19865 non-null  object
 42  last_pymnt_amnt              19908 non-null  float64
 43  next_pymnt_d                 0 non-null      float64
 44  last_credit_pull_d           19906 non-null  object
 45  collections_12_mths_ex_med   19893 non-null  float64
 46  mths_since_last_major_derog  0 non-null      float64
 47  policy_code                  19908 non-null  int64
 48  application_type             19908 non-null  object
 49  acc_now_delinq               19908 non-null  float64
 50  chargeoff_within_12_mths     19893 non-null  float64
 51  delinq_amnt                  19908 non-null  float64
 52  pub_rec_bankruptcies         19595 non-null  float64
 53  tax_liens                    19898 non-null  float64
 54  hardship_flag                19908 non-null  object
 55  disbursement_method          19908 non-null  object
 56  debt_settlement_flag         19908 non-null  object
 57  debt_settlement_flag_date    82 non-null     object
dtypes: float64(31), int64(4), object(23)
memory usage: 8.8+ MB

In [5]:
loan_df.isna().sum().sort_values(ascending=False)

next_pymnt_d                   19908
mths_since_last_major_derog    19908
debt_settlement_flag_date      19826
mths_since_last_record         18699
mths_since_last_delinq         12910
emp_title                       1185
emp_length                       499
pub_rec_bankruptcies             313
last_pymnt_d                      43
revol_util                        19
collections_12_mths_ex_med        15
chargeoff_within_12_mths          15
tax_liens                         10
title                              5
last_credit_pull_d                 2
loan_status                        0
issue_d                            0
home_ownership                     0
grade                              0
sub_grade                          0
int_rate                           0
funded_amnt                        0
installment                        0
loan_amnt                          0
funded_amnt_inv                    0
term                               0
earliest_cr_line                   0
inq_last_6mths                     0
dti                                0
delinq_2yrs                        0
addr_state                         0
zip_code                           0
pymnt_plan                         0
purpose                            0
annual_inc                         0
verification_status                0
pub_rec                            0
open_acc                           0
total_acc                          0
initial_list_status                0
out_prncp                          0
revol_bal                          0
collection_recovery_fee            0
recoveries                         0
total_rec_late_fee                 0
total_rec_int                      0
total_pymnt_inv                    0
total_rec_prncp                    0
total_pymnt                        0
out_prncp_inv                      0
acc_now_delinq                     0
application_type                   0
policy_code                        0
last_pymnt_amnt                    0
delinq_amnt                        0
hardship_flag                      0
disbursement_method                0
debt_settlement_flag               0
dtype: int64

In [6]:
# Exclude features that are only available after loan origination

loan_df.drop(
    columns=[
        "last_credit_pull_d",
        "last_pymnt_amnt",
        "out_prncp",
        "out_prncp_inv",
        "total_acc",
        # "total_pymnt",
        # "total_pymnt_inv",
        "total_rec_int",
        "total_rec_late_fee",
        "total_rec_prncp",
    ],
    inplace=True,
)

In [7]:
# Exclude features that have too many missing values / the missing values are hard to fill

loan_df.drop(
    columns=[
        "debt_settlement_flag_date",
        "emp_length",
        "emp_title",
        "mths_since_last_delinq",
        "mths_since_last_major_derog",
        # "mths_since_last_record",
        "next_pymnt_d",
        "revol_util",
    ],
    inplace=True,
)

In [8]:
loan_df.isna().sum().sort_values(ascending=False)

mths_since_last_record        18699
pub_rec_bankruptcies            313
last_pymnt_d                     43
chargeoff_within_12_mths         15
collections_12_mths_ex_med       15
tax_liens                        10
title                             5
term                              0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
verification_status               0
annual_inc                        0
home_ownership                    0
sub_grade                         0
grade                             0
installment                       0
int_rate                          0
pymnt_plan                        0
dti                               0
delinq_2yrs                       0
earliest_cr_line                  0
issue_d                           0
purpose                           0
zip_code                          0
addr_state                        0
loan_status                       0
initial_list_status               0
revol_bal                         0
pub_rec                           0
open_acc                          0
inq_last_6mths                    0
collection_recovery_fee           0
total_pymnt                       0
total_pymnt_inv                   0
application_type                  0
policy_code                       0
recoveries                        0
acc_now_delinq                    0
delinq_amnt                       0
hardship_flag                     0
disbursement_method               0
debt_settlement_flag              0
dtype: int64

In [9]:
loan_df.nunique().sort_values(ascending=False)

total_pymnt                   19855
total_pymnt_inv               19121
revol_bal                     14028
title                         10538
installment                    9932
funded_amnt_inv                4690
annual_inc                     2996
dti                            2710
recoveries                     2590
collection_recovery_fee        1566
funded_amnt                     894
loan_amnt                       727
earliest_cr_line                506
int_rate                        353
zip_code                        260
last_pymnt_d                    108
mths_since_last_record          102
issue_d                          54
open_acc                         37
sub_grade                        35
purpose                          14
delinq_2yrs                      10
inq_last_6mths                    9
grade                             7
addr_state                        6
home_ownership                    5
pub_rec                           4
pub_rec_bankruptcies              3
verification_status               3
term                              2
loan_status                       2
debt_settlement_flag              2
pymnt_plan                        1
initial_list_status               1
collections_12_mths_ex_med        1
application_type                  1
policy_code                       1
chargeoff_within_12_mths          1
acc_now_delinq                    1
delinq_amnt                       1
tax_liens                         1
hardship_flag                     1
disbursement_method               1
dtype: int64

In [10]:
loan_df.nunique().sort_values()

pymnt_plan                        1
initial_list_status               1
delinq_amnt                       1
chargeoff_within_12_mths          1
acc_now_delinq                    1
application_type                  1
policy_code                       1
disbursement_method               1
hardship_flag                     1
tax_liens                         1
collections_12_mths_ex_med        1
loan_status                       2
debt_settlement_flag              2
term                              2
verification_status               3
pub_rec_bankruptcies              3
pub_rec                           4
home_ownership                    5
addr_state                        6
grade                             7
inq_last_6mths                    9
delinq_2yrs                      10
purpose                          14
sub_grade                        35
open_acc                         37
issue_d                          54
mths_since_last_record          102
last_pymnt_d                    108
zip_code                        260
int_rate                        353
earliest_cr_line                506
loan_amnt                       727
funded_amnt                     894
collection_recovery_fee        1566
recoveries                     2590
dti                            2710
annual_inc                     2996
funded_amnt_inv                4690
installment                    9932
title                         10538
revol_bal                     14028
total_pymnt_inv               19121
total_pymnt                   19855
dtype: int64

In [11]:
# Exclude categorical features that have only one value

loan_df.drop(
    columns=[
        "acc_now_delinq",
        "application_type",
        "chargeoff_within_12_mths",
        "collections_12_mths_ex_med",
        "delinq_amnt",
        "disbursement_method",
        "hardship_flag",
        "initial_list_status",
        "policy_code",
        "pymnt_plan",
        "tax_liens",
    ],
    inplace=True,
)

In [12]:
loan_df.nunique().sort_values(ascending=True)

term                           2
loan_status                    2
debt_settlement_flag           2
verification_status            3
pub_rec_bankruptcies           3
pub_rec                        4
home_ownership                 5
addr_state                     6
grade                          7
inq_last_6mths                 9
delinq_2yrs                   10
purpose                       14
sub_grade                     35
open_acc                      37
issue_d                       54
mths_since_last_record       102
last_pymnt_d                 108
zip_code                     260
int_rate                     353
earliest_cr_line             506
loan_amnt                    727
funded_amnt                  894
collection_recovery_fee     1566
recoveries                  2590
dti                         2710
annual_inc                  2996
funded_amnt_inv             4690
installment                 9932
title                      10538
revol_bal                  14028
total_pymnt_inv            19121
total_pymnt                19855
dtype: int64

In [13]:
for col in loan_df:
    if len(loan_df[col].unique()) < 15:
        print(col, loan_df[col].unique())

term ['36 months' '60 months']
grade ['C' 'E' 'F' 'B' 'A' 'D' 'G']
home_ownership ['RENT' 'OWN' 'MORTGAGE' 'OTHER' 'NONE']
verification_status ['Not Verified' 'Source Verified' 'Verified']
loan_status ['Fully Paid' 'Charged Off']
purpose ['small_business' 'other' 'car' 'debt_consolidation' 'credit_card'
 'home_improvement' 'major_purchase' 'moving' 'medical' 'house' 'vacation'
 'wedding' 'renewable_energy' 'educational']
addr_state ['IL' 'CA' 'TX' 'FL' 'NY' 'NJ']
delinq_2yrs [ 0.  1.  2.  3.  4.  5.  6.  7. 11.  8.]
inq_last_6mths [2. 1. 0. 3. 4. 6. 7. 5. 8.]
pub_rec [0. 1. 2. 3.]
pub_rec_bankruptcies [ 0.  1.  2. nan]
debt_settlement_flag ['N' 'Y']

In [14]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19908 entries, 0 to 19907
Data columns (total 32 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   loan_amnt                19908 non-null  int64
 1   funded_amnt              19908 non-null  int64
 2   funded_amnt_inv          19908 non-null  float64
 3   term                     19908 non-null  object
 4   int_rate                 19908 non-null  float64
 5   installment              19908 non-null  float64
 6   grade                    19908 non-null  object
 7   sub_grade                19908 non-null  object
 8   home_ownership           19908 non-null  object
 9   annual_inc               19908 non-null  float64
 10  verification_status      19908 non-null  object
 11  issue_d                  19908 non-null  object
 12  loan_status              19908 non-null  object
 13  purpose                  19908 non-null  object
 14  title                    19903 non-null  object
 15  zip_code                 19908 non-null  object
 16  addr_state               19908 non-null  object
 17  dti                      19908 non-null  float64
 18  delinq_2yrs              19908 non-null  float64
 19  earliest_cr_line         19908 non-null  object
 20  inq_last_6mths           19908 non-null  float64
 21  mths_since_last_record   1209 non-null   float64
 22  open_acc                 19908 non-null  float64
 23  pub_rec                  19908 non-null  float64
 24  revol_bal                19908 non-null  int64
 25  total_pymnt              19908 non-null  float64
 26  total_pymnt_inv          19908 non-null  float64
 27  recoveries               19908 non-null  float64
 28  collection_recovery_fee  19908 non-null  float64
 29  last_pymnt_d             19865 non-null  object
 30  pub_rec_bankruptcies     19595 non-null  float64
 31  debt_settlement_flag     19908 non-null  object
dtypes: float64(15), int64(3), object(14)
memory usage: 4.9+ MB

In [15]:
loan_df.describe()

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_record,open_acc,pub_rec,revol_bal,total_pymnt,total_pymnt_inv,recoveries,collection_recovery_fee,pub_rec_bankruptcies
count,19908.000000,19908.000000,19908.000000,19908.000000,19908.000000,1.990800e+04,19908.000000,19908.000000,19908.000000,1209.000000,19908.000000,19908.000000,19908.000000,19908.000000,19908.000000,19908.000000,19908.000000,19595.000000
mean,11353.846444,11065.763763,10500.929748,12.089717,330.614254,7.107345e+04,13.008619,0.143962,0.829466,69.354839,9.278782,0.046715,13363.994826,12286.852391,11690.155107,94.722382,11.861625,0.037969
std,7463.700492,7176.276661,7106.229650,3.698287,210.557434,6.980565e+04,6.663658,0.489576,1.044978,44.520279,4.414903,0.217827,15943.303849,9098.847567,8984.722396,666.434583,141.910324,0.191393
min,500.000000,500.000000,0.000000,5.420000,15.690000,4.000000e+03,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5750.000000,5600.000000,5000.000000,9.450000,171.287500,4.200000e+04,7.840000,0.000000,0.000000,0.000000,6.000000,0.000000,3770.500000,5670.592545,5239.857500,0.000000,0.000000,0.000000
50%,10000.000000,10000.000000,9000.000000,11.860000,285.780000,6.000000e+04,13.075000,0.000000,0.000000,90.000000,9.000000,0.000000,8876.500000,10042.735817,9427.845000,0.000000,0.000000,0.000000
75%,15000.000000,15000.000000,14500.000000,14.610000,440.815000,8.500000e+04,18.200000,0.000000,1.000000,104.000000,12.000000,0.000000,16952.250000,16681.688450,15983.440000,0.000000,0.000000,0.000000
max,35000.000000,35000.000000,35000.000000,24.400000,1302.690000,6.000000e+06,29.990000,11.000000,8.000000,129.000000,44.000000,3.000000,148829.000000,58480.139915,58438.370000,29623.350000,6543.040000,2.000000

In [16]:
loan_df.loan_status.value_counts()

loan_status
Fully Paid     16965
Charged Off     2943
Name: count, dtype: int64

In [17]:
mapping_dict = {"Charged Off": 0, "Fully Paid": 1}
loan_df["repaid"] = loan_df.loan_status.map(mapping_dict)
loan_df.repaid.value_counts()

repaid
1    16965
0     2943
Name: count, dtype: int64

In [18]:
loan_df.repaid.mean()

np.float64(0.8521699819168174)

In [19]:
loan_df.term.value_counts()

term
36 months    14852
60 months     5056
Name: count, dtype: int64

In [20]:
loan_df["total_return"] = (
    loan_df.total_pymnt + loan_df.recoveries
) / loan_df.funded_amnt - 1

loan_df["loan_term_year"] = loan_df.term.apply(lambda x: 3 if x == "36 months" else 5)

loan_df["annual_return"] = loan_df.apply(
    lambda x: (1 + x.total_return) ** (1 / x.loan_term_year) - 1, axis=1
)

loan_df.sample(5)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_record,open_acc,pub_rec,revol_bal,total_pymnt,total_pymnt_inv,recoveries,collection_recovery_fee,last_pymnt_d,pub_rec_bankruptcies,debt_settlement_flag,repaid,total_return,loan_term_year,annual_return
5753,8000,8000,8000.000000,36 months,11.49,263.78,B,B4,OWN,110000.0,Not Verified,Jul-2011,Fully Paid,home_improvement,The Remodel that Keeps on Giving!,752xx,TX,19.90,0.0,Sep-1998,2.0,NaN,9.0,0.0,27166,8497.977369,8497.98,0.0,0.0,Mar-2012,0.0,N,1,0.062247,3,0.020333
19201,10000,10000,3829.721167,36 months,13.67,340.18,D,D2,RENT,60000.0,Not Verified,Nov-2008,Fully Paid,debt_consolidation,by by credit cards,113xx,NY,12.54,0.0,Jan-1999,3.0,NaN,9.0,0.0,27860,12246.416618,4503.35,0.0,0.0,Nov-2011,0.0,N,1,0.224642,3,0.069883
12280,19000,19000,18875.000000,60 months,16.45,466.60,E,E1,RENT,50400.0,Verified,Oct-2010,Fully Paid,debt_consolidation,consolidate,912xx,CA,22.14,0.0,Jun-2001,0.0,NaN,8.0,0.0,13313,27996.360027,27812.17,0.0,0.0,Nov-2015,0.0,N,1,0.473493,5,0.080612
9606,20000,20000,19993.325585,60 months,16.77,494.59,E,E2,RENT,50000.0,Verified,Feb-2011,Fully Paid,small_business,Side Business Booming Need More Capital,088xx,NJ,5.62,0.0,Feb-2000,0.0,NaN,4.0,0.0,2455,29618.990000,29604.17,0.0,0.0,Nov-2015,0.0,N,1,0.480950,5,0.081703
14748,8400,8400,8300.000000,60 months,13.11,191.60,C,C2,MORTGAGE,67290.0,Verified,May-2010,Fully Paid,credit_card,Tofiga7,902xx,CA,5.96,0.0,Aug-1985,0.0,NaN,4.0,0.0,17345,9267.163548,9156.84,0.0,0.0,Apr-2011,0.0,N,1,0.103234,5,0.019843

In [21]:
loan_df.annual_return.mean()

np.float64(0.019144455246204173)

In [22]:
loan_df[loan_df.repaid == 1].annual_return.mean()

np.float64(0.049728921833471745)

In [23]:
loan_df[loan_df.repaid == 0].annual_return.mean()

np.float64(-0.15716049740517005)

In [24]:
loan_df[loan_df.mths_since_last_record >= 0].repaid.mean()

np.float64(0.7849462365591398)

In [25]:
loan_df.to_csv("data/feature_selection.csv", index=False)