In [1]:
import pandas as pd

In [2]:
data_dict = pd.read_csv("data/data_dictionary.csv")
data_dict

,ColumnName,Description
0,acc_now_delinq,The number of accounts on which the borrower i...
1,addr_state,The state provided by the borrower in the loan...
2,annual_inc,The self-reported annual income provided by th...
3,application_type,Indicates whether the loan is an individual ap...
4,chargeoff_within_12_mths,Number of charge-offs within 12 months
5,collection_recovery_fee,post charge off collection fee
6,collections_12_mths_ex_med,Number of collections in 12 months excluding m...
7,debt_settlement_flag,"Flags whether or not the borrower, who has cha..."
8,debt_settlement_flag_date,The most recent date that the Debt_Settlement_...
9,delinq_2yrs,The number of 30+ days past-due incidences of ...
10,delinq_amnt,The past-due amount owed for the accounts on w...
11,disbursement_method,The method by which the borrower receives thei...
12,dti,A ratio calculated using the borrowerâ€™s total ...
13,earliest_cr_line,The month the borrower's earliest reported cre...
14,emp_length,Employment length in years. Possible values ar...
15,emp_title,The job title supplied by the Borrower when ap...
16,funded_amnt,The total amount committed to that loan at tha...
17,funded_amnt_inv,The total amount committed by investors for th...
18,grade,LC assigned loan grade
19,hardship_flag,Flags whether or not the borrower is on a hard...
20,home_ownership,The home ownership status provided by the borr...
21,initial_list_status,The initial listing status of the loan. Possib...
22,inq_last_6mths,The number of inquiries in past 6 months (excl...
23,installment,The monthly payment owed by the borrower if th...
24,int_rate,Interest Rate on the loan
25,issue_d,The month which the loan was funded
26,last_credit_pull_d,The most recent month LC pulled credit for thi...
27,last_pymnt_amnt,Last total payment amount received
28,last_pymnt_d,Last month payment was received
29,loan_amnt,The listed amount of the loan applied for by t...
30,loan_status,Current status of the loan
31,mths_since_last_delinq,The number of months since the borrower's last...
32,mths_since_last_major_derog,Months since most recent 90-day or worse rating
33,mths_since_last_record,The number of months since the last public rec...
34,next_pymnt_d,Next scheduled payment date
35,open_acc,The number of open credit lines in the borrowe...
36,out_prncp,Remaining outstanding principal for total amou...
37,out_prncp_inv,Remaining outstanding principal for portion of...
38,policy_code,publicly available policy_code=1\nnew products...
39,pub_rec,Number of derogatory public records
40,pub_rec_bankruptcies,Number of public record bankruptcies
41,purpose,A category provided by the borrower for the lo...
42,pymnt_plan,Indicates if a payment plan has been put in pl...
43,recoveries,post charge off gross recovery
44,revol_bal,Total credit revolving balance
45,revol_util,"Revolving line utilization rate, or the amount..."
46,sub_grade,LC assigned loan subgrade
47,tax_liens,Number of tax liens
48,term,The number of payments on the loan. Values are...
49,title,The loan title provided by the borrower
50,total_acc,The total number of credit lines currently in ...
51,total_pymnt,Payments received to date for total amount funded
52,total_pymnt_inv,Payments received to date for portion of total...
53,total_rec_int,Interest received to date
54,total_rec_late_fee,Late fees received to date
55,total_rec_prncp,Principal received to date
56,verification_status,"Indicates if income was verified by LC, not ve..."
57,zip_code,The first 3 numbers of the zip code provided b...

In [3]:
loan_df = pd.read_csv("data/lending_club_2007_2011_6_states.csv")
loan_df.sample(5)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,hardship_flag,disbursement_method,debt_settlement_flag,debt_settlement_flag_date
6245,30000,30000,30000.000000,60 months,21.36,817.69,F,F4,Hawthorne Cedar Knolls,10+ years,...,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N,NaN
12012,7000,7000,7000.000000,36 months,13.35,237.04,C,C4,NaN,NaN,...,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N,NaN
17170,9500,9500,9488.995055,36 months,8.59,300.30,A,A4,Knox College,2 years,...,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N,NaN
11296,10000,8850,8750.000000,36 months,5.79,268.40,A,A2,Border Grill,3 years,...,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N,NaN
3981,8000,8000,8000.000000,36 months,7.49,248.82,A,A4,I & I Software,4 years,...,Individual,0.0,0.0,0.0,0.0,0.0,N,Cash,N,NaN

In [4]:
loan_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19908 entries, 0 to 19907
Data columns (total 58 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   loan_amnt                    19908 non-null  int64
 1   funded_amnt                  19908 non-null  int64
 2   funded_amnt_inv              19908 non-null  float64
 3   term                         19908 non-null  object
 4   int_rate                     19908 non-null  float64
 5   installment                  19908 non-null  float64
 6   grade                        19908 non-null  object
 7   sub_grade                    19908 non-null  object
 8   emp_title                    18723 non-null  object
 9   emp_length                   19409 non-null  object
 10  home_ownership               19908 non-null  object
 11  annual_inc                   19908 non-null  float64
 12  verification_status          19908 non-null  object
 13  issue_d                      19908 non-null  object
 14  loan_status                  19908 non-null  object
 15  pymnt_plan                   19908 non-null  object
 16  purpose                      19908 non-null  object
 17  title                        19903 non-null  object
 18  zip_code                     19908 non-null  object
 19  addr_state                   19908 non-null  object
 20  dti                          19908 non-null  float64
 21  delinq_2yrs                  19908 non-null  float64
 22  earliest_cr_line             19908 non-null  object
 23  inq_last_6mths               19908 non-null  float64
 24  mths_since_last_delinq       6998 non-null   float64
 25  mths_since_last_record       1209 non-null   float64
 26  open_acc                     19908 non-null  float64
 27  pub_rec                      19908 non-null  float64
 28  revol_bal                    19908 non-null  int64
 29  revol_util                   19889 non-null  float64
 30  total_acc                    19908 non-null  float64
 31  initial_list_status          19908 non-null  object
 32  out_prncp                    19908 non-null  float64
 33  out_prncp_inv                19908 non-null  float64
 34  total_pymnt                  19908 non-null  float64
 35  total_pymnt_inv              19908 non-null  float64
 36  total_rec_prncp              19908 non-null  float64
 37  total_rec_int                19908 non-null  float64
 38  total_rec_late_fee           19908 non-null  float64
 39  recoveries                   19908 non-null  float64
 40  collection_recovery_fee      19908 non-null  float64
 41  last_pymnt_d                 19865 non-null  object
 42  last_pymnt_amnt              19908 non-null  float64
 43  next_pymnt_d                 0 non-null      float64
 44  last_credit_pull_d           19906 non-null  object
 45  collections_12_mths_ex_med   19893 non-null  float64
 46  mths_since_last_major_derog  0 non-null      float64
 47  policy_code                  19908 non-null  int64
 48  application_type             19908 non-null  object
 49  acc_now_delinq               19908 non-null  float64
 50  chargeoff_within_12_mths     19893 non-null  float64
 51  delinq_amnt                  19908 non-null  float64
 52  pub_rec_bankruptcies         19595 non-null  float64
 53  tax_liens                    19898 non-null  float64
 54  hardship_flag                19908 non-null  object
 55  disbursement_method          19908 non-null  object
 56  debt_settlement_flag         19908 non-null  object
 57  debt_settlement_flag_date    82 non-null     object
dtypes: float64(31), int64(4), object(23)
memory usage: 8.8+ MB

In [5]:
loan_df.isna().sum().sort_values(ascending=False)

next_pymnt_d                   19908
mths_since_last_major_derog    19908
debt_settlement_flag_date      19826
mths_since_last_record         18699
mths_since_last_delinq         12910
emp_title                       1185
emp_length                       499
pub_rec_bankruptcies             313
last_pymnt_d                      43
revol_util                        19
collections_12_mths_ex_med        15
chargeoff_within_12_mths          15
tax_liens                         10
title                              5
last_credit_pull_d                 2
loan_status                        0
issue_d                            0
home_ownership                     0
grade                              0
sub_grade                          0
int_rate                           0
funded_amnt                        0
installment                        0
loan_amnt                          0
funded_amnt_inv                    0
term                               0
earliest_cr_line                   0
inq_last_6mths                     0
dti                                0
delinq_2yrs                        0
addr_state                         0
zip_code                           0
pymnt_plan                         0
purpose                            0
annual_inc                         0
verification_status                0
pub_rec                            0
open_acc                           0
total_acc                          0
initial_list_status                0
out_prncp                          0
revol_bal                          0
collection_recovery_fee            0
recoveries                         0
total_rec_late_fee                 0
total_rec_int                      0
total_pymnt_inv                    0
total_rec_prncp                    0
total_pymnt                        0
out_prncp_inv                      0
acc_now_delinq                     0
application_type                   0
policy_code                        0
last_pymnt_amnt                    0
delinq_amnt                        0
hardship_flag                      0
disbursement_method                0
debt_settlement_flag               0
dtype: int64

In [6]:
# Exclude features that are only available after loan origination

loan_df.drop(
    columns=[
        "last_credit_pull_d",
        "last_pymnt_amnt",
        "out_prncp",
        "out_prncp_inv",
        "total_acc",
        "total_pymnt",
        "total_pymnt_inv",
        "total_rec_int",
        "total_rec_late_fee",
        "total_rec_prncp",
    ],
    inplace=True,
)

In [7]:
# Exclude features that have too many missing values / the missing values are hard to fill

loan_df.drop(
    columns=[
        "debt_settlement_flag_date",
        "emp_length",
        "emp_title",
        'mths_since_last_delinq',
        "mths_since_last_major_derog",
        "mths_since_last_record",
        "next_pymnt_d",
        "revol_util",
    ],
    inplace=True,
)

In [8]:
loan_df.isna().sum().sort_values(ascending=False)

pub_rec_bankruptcies          313
last_pymnt_d                   43
chargeoff_within_12_mths       15
collections_12_mths_ex_med     15
tax_liens                      10
title                           5
loan_amnt                       0
funded_amnt                     0
sub_grade                       0
grade                           0
installment                     0
int_rate                        0
term                            0
funded_amnt_inv                 0
verification_status             0
home_ownership                  0
zip_code                        0
addr_state                      0
dti                             0
annual_inc                      0
issue_d                         0
loan_status                     0
pymnt_plan                      0
purpose                         0
pub_rec                         0
open_acc                        0
inq_last_6mths                  0
earliest_cr_line                0
delinq_2yrs                     0
collection_recovery_fee         0
revol_bal                       0
initial_list_status             0
application_type                0
policy_code                     0
recoveries                      0
acc_now_delinq                  0
delinq_amnt                     0
hardship_flag                   0
disbursement_method             0
debt_settlement_flag            0
dtype: int64